---
import Layout from "@/layouts/layout.astro";
import NextPrevPosts from "@/ui/astro/pages/blog-post/next-prev-posts.astro";
import PostHeader from "@/ui/astro/pages/blog-post/post-header.astro";
import { Icon } from "@/ui/react";
import { getCollection, type CollectionEntry } from "astro:content";
import { ArrowLeft } from "lucide-react";

export async function getStaticPaths() {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");

  return posts.map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/404");
}

const blogPosts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const entryIdx = blogPosts.findIndex((post) => post.slug === slug);

if (entryIdx === -1) {
  return Astro.redirect("/404");
}

const entry = blogPosts[entryIdx];
const prevPost = blogPosts[entryIdx + 1];
const nextPost = blogPosts[entryIdx - 1];

const { Content } = await entry.render();
---

<style is:global>
  article h2,
  article h3,
  article h4 {
    position: relative;
    line-height: 1.5;
    font-weight: 600;
    color: hsl(var(--title));
    text-align: left;
  }
  article h2::after,
  article h3::after,
  article h4::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 5rem;
    height: 4px;
    background-color: hsl(var(--primary));
  }
  article h2 {
    margin: 2rem 0;
    font-size: 2.25rem;
  }
  article h3 {
    margin: 1.875rem 0;
    font-size: 1.875rem;
  }
  article h4 {
    margin: 1.75rem 0;
    font-size: 1.5rem;
  }
  article ul,
  article ol,
  article blockquote,
  article p {
    margin: 1rem 0;
  }
  article p {
    font-size: 1.125rem;
    line-height: 1.65;
    font-weight: 400;
  }
  article a {
    color: hsl(var(--primary));
  }
  article a:hover {
    text-decoration: underline;
  }
  article .socials a:hover {
    transition: color 0.3s linear;
    color: hsl(var(--primary));
  }
  article ul,
  article ol {
    font-weight: 400;
    padding-left: 2rem;
  }
  article ul li {
    list-style-type: square;
  }
  article ul li::marker {
    color: hsl(var(--primary));
  }
  article ol li {
    list-style-type: decimal;
  }
  article li {
    margin: 0.25rem 0;
    font-size: 1.125rem;
    line-height: 1.65;
  }
  article li ul,
  article li ol {
    margin: 0;
  }
  @media (max-width: 768px) {
    article ul,
    article ol,
    article blockquote,
    article p {
      margin: 0.75rem 0;
    }
    article ul,
    article ol {
      padding-left: 1rem;
    }
    article p,
    article li {
      font-size: 1rem;
    }
    article h2,
    article h3 {
      margin: 1.75rem 0;
    }
    article h2 {
      font-size: 1.75rem;
    }
    article h3 {
      font-size: 1.5rem;
    }
    article h4 {
      font-size: 1.375rem;
    }
  }
</style>

<!-- 
  TODO:
  - Add meta tags for SEO
 -->

<Layout title={`${entry.data.title} - Volodymyr Mokhun`}>
  <div
    class="flex flex-col lg:flex-row items-start gap-6 py-8 max-w-[70ch] lg:max-w-7xl mx-auto"
  >
    <a
      class="whitespace-nowrap transition-colors lg:text-foreground-light lg:hover:text-primary lg:hover:bg-transparent inline-flex items-center gap-1 bg-transparent border lg:border-0 border-border hover:bg-primary-dark hover:text-primary-foreground px-3 py-1 rounded-sm lg:p-0 font-medium lg:font-normal text-lg"
      href="/blog"
    >
      <ArrowLeft className="w-4 h-4" />
      <span>All Posts</span>
    </a>
    <div class="max-w-[70ch] mx-auto">
      <article class="text-justify">
        <PostHeader post={entry} />
        <Content />
      </article>
      <div
        class="my-8 md:my-10 space-y-4 py-3 md:py-4 px-4 md:px-8 border-l-4 border-primary leading-relaxed bg-card text-justify font-mono text-sm md:text-base"
      >
        <p>Do you notice any problems with this post?</p>
        <p>
          Feel free to make edits on Github, as any improvement, no matter how
          minor, is welcomed!
        </p>
        <p>
          <!-- TODO: change href -->
          <a
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/V-Mokhun"
            class="inline-flex items-center gap-2 text-primary hover:underline"
          >
            <Icon
              className="w-6 h-6 text-foreground dark:text-white"
              name="github"
            />
            <span>Edit</span>
          </a>
        </p>
      </div>
      <NextPrevPosts prevPost={prevPost} nextPost={nextPost} />
    </div>
  </div>
</Layout>
