---
import { POSTS_PER_PAGE } from "@/consts";
import Layout from "@/layouts/layout.astro";
import PostCard from "@/ui/astro/widgets/post-card.astro";
import { Container, Title } from "@/ui/react";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export const prerender = true;

const currentPage =
  Astro.url.searchParams.get("page") != undefined &&
  +Astro.url.searchParams.get("page")! > 0
    ? +Astro.url.searchParams.get("page")!
    : 1;

const allBlogPosts: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.date.valueOf() - a.data.date.valueOf()
);

const totalPages = Math.ceil(allBlogPosts.length / POSTS_PER_PAGE);

const postsForPage = allBlogPosts.slice(
  (currentPage - 1) * POSTS_PER_PAGE,
  currentPage * POSTS_PER_PAGE
);
---

<Layout>
  <section class="h-full pb-10 md:pb-12 -mt-6 lg:mt-0">
    <div class="bg-background-secondary pt-10 md:pt-12 pb-72">
      <Container className="mb-20">
        <h1 class="text-7xl leading-none font-semibold mb-3 text-white dark:text-foreground">
          Blog
        </h1>
        <h2 class="text-3xl leading-tight font-medium text-zinc-300 dark:text-zinc-400 max-w-xl">
          Just describing some of my thoughts, sharing things I find
          interesting, and documenting my journey as a developer
        </h2>
      </Container>
    </div>
    <Container>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 -mt-72">
        {postsForPage.map((post) => <PostCard post={post} />)}
      </div>
    </Container>
  </section>
</Layout>
