---
import { Image } from "astro:assets";
import logoImage from "@/assets/logo.svg";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<a href="/#" class:list={[className]} data-astro-reload>
  <Image
    class="w-24 max-h-16 h-full"
    src={logoImage}
    alt="Logo"
    width="96"
    height="64"
  />
</a>
