---
import { Image } from "astro:assets";
import logoImage from "@/assets/logo.png";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<a href="/#" class:list={[className]} data-astro-reload>
  <Image
    class="w-32 md:w-36"
    src={logoImage}
    alt="Logo"
    width="144"
    height="40"
  />
</a>
