@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 53% 97%;
    --foreground: 240 10% 3.9%;
    --background-secondary: 0 0% 18%;
    --primary: 177 70% 41%;
    --primary-hover: 176 72% 35%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 117 80% 31%;
    --success-foreground: 0, 0%, 96%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  :root.dark {
    --background: 25 5% 12%;
    --foreground: 0 0% 85%;
    --background-secondary: 0 0% 18%;
    --primary-hover: 177 70% 41%;
    --primary: 176 72% 35%;

    --card: 0 0% 24%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 24%;
    --popover-foreground: 0 0% 98%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 0 0% 24%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 75% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  pre {
    padding: 2rem 1.5rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0 #0003;
    width: 110%;
    margin-left: -5%;
    white-space: break-spaces;
    overflow-x: auto;
    hyphens: none;
  }

  :not(pre) > code {
    font-weight: 300;
    line-height: 1.65;
    background: hsl(0, 0%, 88%);
    border: 1px solid hsla(0, 0%, 25%, 0.05);
    padding: 0 0.25rem;
  }

  :root.dark :not(pre) > code {
    background: hsl(0, 0%, 14%);
    border-color: hsla(0, 0%, 100%, 0.1);
  }
}
