@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 248 23% 30%;
    --foreground-light: 249 25% 30%;

    --title: 0 6% 10%;

    --card: 0 0% 93%;
    --card-foreground: 248 23% 30%;

    --popover: 0 0% 93%;
    --popover-foreground: 248 23% 30%;

    --primary: 232 79% 62%;
    --primary-dark: 232 55% 52%;
    --primary-foreground: 0 0 97%;

    --success: 117 80% 31%;
    --success-foreground: 0 0% 90%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;

    /* --------------------- */

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 355 85% 55%;
    --destructive-light: 350 95% 75%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
    --header-height: 5rem;
    --header-scroll-height: 4rem;
  }

  :root.dark {
    /* --background: 216 65% 11%;
    --foreground: 225 20% 61%;
    --foreground-light: 225 31% 74%;

    --card: 218 58% 16%;
    --card-foreground: 225 31% 74%;

    --popover: 218 58% 16%;
    --popover-foreground: 225 31% 74%;

    --primary: 166 100% 70%;
    --primary-dark: 166 60% 40%;
    --primary-foreground: 226 14% 95%;

    --title: 226 70% 88%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --success: 117 80% 31%;
    --success-foreground: 0, 0%, 96%;

    --destructive: 355 85% 55%;
    --destructive-light: 350 95% 75%;
    --destructive-foreground: 0 0% 98%;

    --border: 218 41% 23%;
    --input: 218 41% 23%;
    --ring: 240 4.9% 83.9%; */

    --background: 216 74% 11%;
    --foreground: 227 37% 68%;
    --foreground-light: 225 60% 78%;

    --card: 218 71% 17%;
    --card-foreground: 225 60% 78%;

    --title: 226 70% 88%;

    --popover: 218 71% 17%;
    --popover-foreground: 225 60% 78%;

    --primary: 176 80% 48%;
    --primary-dark: 166 79% 30%;
    --primary-foreground: 225 21% 85%;

    --success: 117 70% 25%;
    --success-foreground: 0 0% 90%;

    --border: 218 54% 25%;
    --input: 218 54% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth scroll-mt-16;
  }
  body {
    @apply bg-background text-foreground;
  }

  pre {
    padding: 2rem 1.5rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0 #0003;
    margin: 0.75rem -0.75rem;
    overflow-x: auto;
    hyphens: none;
    text-align: start;
  }

  :not(pre) > code {
    font-weight: 300;
    line-height: 1.65;
    background: hsl(0, 0%, 88%);
    border: 1px solid hsla(0, 0%, 25%, 0.05);
    padding: 0 0.25rem;
  }

  :root.dark :not(pre) > code {
    background: hsl(0, 0%, 14%);
    border-color: hsla(0, 0%, 100%, 0.1);
  }
}
