---
import { Title } from "../shared";
import Container from "../shared/Container.astro";
---

<section class="py-4 md:py-6 bg-background-secondary text-white" id="about">
  <Container>
    <Title className="text-center">About Me</Title>
    <div class="flex justify-between gap-6 pt-4">
      <div class="flex-[0_1_50%]">
        <Title size="sm" tag="h3">Get to know me</Title>
        <div class="text-zinc-200 space-y-2 text-lg">
          <p>
            I'm a second-year Computer Science student at the <a
              class="text-primary hover:text-primary-hover transition-colors font-medium"
              href="https://uwm.edu.pl/"
              target="_blank"
              rel="noreferrer noopener">University of Warmia and Mazury</a
            >. I have experience in developing websites, from simple landing
            pages to complex web applications and also recently obtained <a
              class="text-primary hover:text-primary-hover transition-colors font-medium"
              href="https://www.cambridgeenglish.org/exams-and-tests/advanced/"
              target="_blank"
              rel="noreferrer noopener">Cambridge C1 Advanced Certification</a
            >. Check out my work in the <a
              class="text-primary hover:text-primary-hover transition-colors font-medium"
              href="#projects">Projects</a
            > section.
          </p>
          <p>
            Being exposed to the world of programming at a <span
              class="font-bold">young age</span
            >, I don't imagine myself doing anything else as seriously. I'm
            passionate about web development, especially <span class="font-bold"
              >frontend</span
            >. I'm always looking for new challenges and opportunities to learn.
          </p>
          <p>
            When I'm not in front of the computer, I like to spend my time <span
              class="font-bold">working out</span
            >, <span class="font-bold">watching TV shows and movies</span>, <span
              class="font-bold">reading</span
            >, or <span class="font-bold">playing volleyball</span>.
          </p>
        </div>
      </div>
      <div class="flex-auto">
        <Title size="sm" tag="h3">What I use</Title>
				<ul class="flex flex-wrap gap-4">
					
				</ul>
      </div>
    </div>
  </Container>
</section>
