---
import { Title } from "../shared";
import Container from "../shared/Container.astro";
---

<section class="py-4 md:py-6" id="projects">
  <Container>
    <Title className="text-center">Projects</Title>
		<ul class="flex gap-4 md:gap-6 flex-wrap">
			
		</ul>
  </Container>
</section>
