---
import { Container, Icon } from "@/ui/react";
import Logo from "../shared/logo.astro";

const year = new Date().getFullYear();
---

<footer class="bg-background-secondary py-8">
  <Container>
    <div class="flex flex-col items-center gap-8">
      <div class="flex flex-col items-center gap-4">
        <Logo />
        <a
          href="mailto:v.mokhun@gmail.com"
          class="text-lg text-white hover:text-primary transition-colors"
          >v.mokhun@gmail.com</a
        >
      </div>
      <ul class="flex items-center gap-6">
        <li>
          <a
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/V-Mokhun"
            class="text-white hover:text-primary transition-colors"
          >
            <Icon name="github" />
          </a>
        </li>
        <li>
          <a
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/in/v-mokhun"
            class="text-white hover:text-primary transition-colors"
          >
            <Icon name="linkedin" />
          </a>
        </li>
        <li>
          <a
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.facebook.com/volodymyr.mokhun"
            class="text-white hover:text-primary transition-colors"
          >
            <Icon name="facebook" />
          </a>
        </li>
      </ul>
      <p class="font-light text-zinc-400 text-center">
        All rights reserved &copy; {year}<span class="font-medium">
          Volodymyr Mokhun</span
        >
      </p>
    </div>
  </Container>
</footer>
