---
import {
  Container,
  HeaderMobileMenu,
  buttonVariants,
  HeaderNav,
  LangPicker,
} from "@/ui/react";
import Logo from "../shared/logo.astro";
import { t } from "i18next";
---

<header
  class="bg-background-secondary shadow-lg py-2 md:py-4 fixed left-0 right-0 top-0 z-10"
>
  <Container>
    <div class="flex items-center justify-between gap-2 md:gap-4">
      <div class="flex flex-1 items-center gap-2 md:flex-initial">
        <HeaderMobileMenu client:load />
        <Logo
          className="w-full flex justify-center ml-2 md:w-auto md:inline-block md:ml-0"
        />
      </div>
      <HeaderNav navClassName="hidden md:flex" />
      <div class="flex items-center gap-4">
        <a
          class={buttonVariants({
            className: "md:text-lg h-9 md:h-11 px-4 sm:px-6",
          })}
          href="#contact">{t("nav.contact")}</a
        >
        <LangPicker client:load />
      </div>
    </div>
  </Container>
</header>
