---
import { Icon } from "@/ui/react";
---

<div
  class="hidden md:block w-10 text-foreground-light fixed bottom-0 left-5 lg:left-10"
>
  <ul
    class="flex flex-col items-center gap-4 after:block after:w-px after:h-20 after:bg-foreground-light"
  >
    <li>
      <a
        aria-label="GitHub"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/V-Mokhun"
        class="hover:text-primary transition-colors inline-block p-1"
      >
        <Icon name="github" />
      </a>
    </li>
    <li>
      <a
        aria-label="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/v-mokhun"
        class="hover:text-primary transition-colors p-1 inline-block"
      >
        <Icon name="linkedin" />
      </a>
    </li>
    <li>
      <a
        aria-label="Twitter (X)"
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/v_mokhun"
        class="hover:text-primary transition-colors p-1 inline-block"
      >
        <Icon name="twitter" />
      </a>
    </li>
  </ul>
</div>
