---
import "@/styles/global.css";
import Footer from "@/ui/astro/widgets/footer.astro";
import Header from "@/ui/astro/widgets/header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-full">
    <Header />
    <main class="flex-1 pt-[60px] md:pt-[76px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global></style>
