---
import { languages, translateUrl } from "@/lib";
import "@/styles/global.css";
import Footer from "@/ui/astro/widgets/footer.astro";
import Header from "@/ui/astro/widgets/header.astro";
import i18next, { t } from "i18next";

const currentUrl = Astro.url.origin;
---

<!doctype html>
<html lang={i18next.language} class="h-full">
  <head>
    <meta charset="UTF-8" />
    {
      Object.keys(languages).map((supportedLanguage) => (
        <link
          rel="alternate"
          hreflang={supportedLanguage}
          href={translateUrl(currentUrl, supportedLanguage)}
        />
      ))
    }
    <title>{t("site.title")}</title>
    <meta
      name="description"
      content={t("site.description")}
    />

    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, React, TypeScript, Next.js, Portfolio website, Frontend developer, frontend, web developer"
    />
    <meta name="author" content="Volodymyr Mokhun" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:title"
      content="Volodymyr Mokhun | Front-End developer"
    />
    <meta
      property="og:site_name"
      content="Volodymyr Mokhun | Front-End developer"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.v-mokhun.com/" />
    <meta property="og:image" content="https://www.v-mokhun.com/og-image.png" />
    <meta
      property="og:description"
      content="Volodymyr Mokhun, Front-End Developer specializing in React.js, TypeScript, Next.js. Elevate your web experience with innovative solutions. Explore my portfolio now."
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="v-mokhun.com" />
    <meta property="twitter:url" content="https://www.v-mokhun.com/" />
    <meta
      name="twitter:title"
      content="Volodymyr Mokhun | Front-End developer"
    />
    <meta
      name="twitter:description"
      content="Volodymyr Mokhun, Front-End Developer specializing in React.js, TypeScript, Next.js. Elevate your web experience with innovative solutions. Explore my portfolio now."
    />
    <meta
      name="twitter:image"
      content="https://www.v-mokhun.com/og-image.png"
    />
  </head>
  <body class="flex flex-col h-full">
    <Header />
    <main class="flex-1 pt-[60px] md:pt-[76px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
