---
import { Container, buttonVariants } from "../shared";
import Logo from "../shared/Logo.astro";
---

<header class="bg-background-secondary py-4">
  <Container>
    <div class="flex items-center justify-between gap-4">
      <div class="flex items-center gap-2">
        <button class="md:hidden w-8 h-8"> </button>
        <Logo />
      </div>
      <nav class="flex justify-center flex-1">
        <ul class="flex items-center gap-4 text-white font-medium text-xl">
          <li>
            <a class="transition-colors hover:text-primary p-2" href="#about"
              >About</a
            >
          </li>
          <li>
            <a class="transition-colors hover:text-primary p-2" href="#skills"
              >Skills</a
            >
          </li>
          <li>
            <a class="transition-colors hover:text-primary p-2" href="#projects"
              >Projects</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex items-center gap-2">
        <a
          class={buttonVariants({ className: "text-lg", size: "lg" })}
          href="#contact">Contact</a
        >
      </div>
    </div>
  </Container>
</header>
