---
import { Container, Hover, Title, linkVariants } from "@/ui/react";
import { Image } from "astro:assets";
import aboutImage from "@/assets/images/about.jpg";
---

<section class="py-12 xs:py-16 md:py-20" id="about">
  <Container className="max-w-5xl">
    <Title className="mb-8 xs:mb-10">About Me</Title>
    <div class="md:grid md:grid-cols-5 md:items-start md:gap-10">
      <div class="mb-8 md:mb-0 space-y-2 col-span-3 font-light">
        <p>
          My name is Volodymyr and I'm a second-year CS student at the <a
            href="https://uwm.edu.pl/"
            class={linkVariants({})}
            target="_blank"
            rel="noreferrer noopener">University of Warmia and Mazury</a
          >. My love for programming started when I was 15 years old. I started
          with building simple websites and then gradually moved to more complex
          projects.
        </p>
        <p>
          For a year I worked as a Freelance Front-End developer, which taught
          me how client-developer communication works as well as collaboration
          with other developers and designers. These days I focus on building
          products with React and Next.js. I also took up learning Golang to
          deepen my knowledge in backend development.
        </p>
        <p>
          I also recently obtained a <a
            href="https://www.cambridgeenglish.org/exams-and-tests/advanced/"
            class={linkVariants({})}
            target="_blank"
            rel="noreferrer noopener">Cambridge C1 Advanced Certificate</a
          > which allows me to work in an English-speaking environment.
        </p>
      </div>
      <Hover
        className="max-w-[16rem] xs:max-w-xs mx-auto md:mx-0 col-span-2 opacity-60 hover:opacity-100 transition-opacity"
        max={15}
        client:visible
      >
        <Image
          class="object-cover max-w-full h-auto rounded-md"
          src={aboutImage}
          alt="Volodymyr Mokhun"
        />
      </Hover>
    </div>
  </Container>
</section>
