---
import { ContactForm, Container, Title } from "@/ui/react";
import { PhoneCall } from "lucide-react";
import { t } from "i18next";
---

<section class="relative z-0 contact-section py-16 md:py-20" id="contact">
  <div
    class="absolute z-0 top-0 left-0 right-0 bottom-0 bg-white opacity-70 dark:opacity-5"
  >
  </div>
  <div class="triangle">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M1200 0L0 0 598.97 114.72 1200 0z"
        class="fill-background-secondary"></path>
    </svg>
  </div>
  <Container className="relative z-[1]">
    <PhoneCall
      className="absolute right-[7%] top-8 md:top-auto md:bottom-10 text-primary animate-zoom"
    />
    <Title className="text-center">{t("contact.title")}</Title>
    <ContactForm client:visible />
  </Container>
</section>

<style>
  .contact-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/images/contact-bg.svg");
  }

  @media only screen and (min-width: 768px) {
    .contact-section {
      background-attachment: fixed;
    }
  }

  html:is(.dark) .contact-section {
    background-image: url("../../../assets/images/contact-bg-dark.webp");
  }

  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .triangle svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
  }
</style>
