---
import { AnimateInView, ContactForm, Container, Title } from "@/ui/react";
import { t } from "i18next";
---

<AnimateInView
  client:visible
  tag="section"
  id="contact"
  className="py-12 xs:py-16 md:py-20"
>
  <Container className="max-w-5xl text-center">
    <Title className="inline-block mb-8 xs:mb-10">{t("contact.title")}</Title>
    <ContactForm client:visible />
  </Container>
</AnimateInView>
