---
import { Container, RippleButton } from "@/ui/react";
---

<section
  id="hero"
  class="py-6 md:py-10 min-h-[calc(100vh-var(--header-height))] h-[calc(100vh-var(--header-height))]"
>
  <Container className="h-full">
    <div class="flex justify-center items-start text-left flex-col h-full">
      <h1 class="text-primary mb-3">Hi, I&apos;m</h1>
      <h2
        class="text-clamp-heading-big text-title leading-none font-semibold mb-1 md:mb-0"
      >
        Volodymyr Mokhun.
      </h2>
      <h3 class="text-clamp-heading-big leading-none mb-5 font-semibold">
        I create products for the web.
      </h3>
      <p class="max-w-lg leading-normal font-light mb-8">
        I&apos;m a CS student and a web developer specializing in building
        superb user experiences. I love exploring new technologies and creating
        useful products. industry
      </p>
      <RippleButton size="lg" tag="a" href="/#contact" client:load
        >Contact Me</RippleButton
      >
    </div>
  </Container>
</section>
