---
import { Container, buttonVariants } from "@/ui/react";
---

<section id="hero" class="py-6 md:py-10 h-[calc(100dvh-var(--header-height))]">
  <Container className="h-full">
    <div class="flex justify-center items-start text-left flex-col h-full">
      <h1 class="text-primary mb-3">Hi, I&apos;m</h1>
      <h2
        class="text-clamp-heading-big text-title leading-none font-semibold mb-1 md:mb-0"
      >
        Volodymyr Mokhun.
      </h2>
      <h3 class="text-clamp-heading-big leading-none mb-5 font-semibold">
        I create products for the web.
      </h3>
      <p class="max-w-lg leading-normal font-light mb-8">
        I&apos;m a CS student and a web developer specializing in building
        superb user experiences. Currently I&apos;m looking for a job in the web
        industry
      </p>
      <a
        href="#contact"
        class={buttonVariants({
          className: "",
          variant: "ghost",
          size: "lg",
        })}>Contact Me</a
      >
    </div>
  </Container>
</section>
