---
import heroImage from "@/assets/images/hero.jpg";
import { Container, HeroTitle, Icon, buttonVariants } from "@/ui/react";
import { Image } from "astro:assets";
---

<section id="hero" class="pb-12 pt-8 md:py-16 xl:py-20">
  <Container className="relative h-full">
    <Icon
      name="curved-arrow"
      className="hidden md:block absolute left-0 -bottom-24 lg:bottom-0 w-28 h-20 fill-zinc-400 animate-horizontal-bounce"
      aria-hidden="true"
    />
    <div
      class="flex items-center justify-center text-center md:text-left md:justify-between flex-col md:flex-row gap-6 md:gap-10 h-full"
    >
      <div class="flex flex-col flex-auto">
        <HeroTitle client:load />
        <h2 class="mb-4 font-medium text-3xl md:text-4xl">
          a <span class="text-primary">Front-End Developer</span> living in
          Poland
        </h2>
        <h3 class="text-xl xl:text-2xl text-zinc-700 mb-4 md:mb-6">
          I aspire to create best products for the web and explore new
          possibilities of modern technologies. I'm a lifelong learner and I'm
          also a bit obsessed with calisthenics.
        </h3>
        <div
          class="flex items-center justify-center md:justify-start gap-3 md:gap-4"
        >
          <a
            href="#contact"
            class={buttonVariants({
              className:
                "font-bold text-lg md:text-xl md:h-12 px-6 md:px-8 uppercase",
            })}>Hire me</a
          >
          <a
            href="#projects"
            class="font-bold text-lg sm:text-xl md:text-2xl text-primary hover:text-primary-hover transition-colors uppercase"
            >See my Portfolio</a
          >
        </div>
      </div>
      <div class="shrink-0">
        <Image
          class="rounded-full w-[300px] lg:w-[450px]"
          alt="Volodymyr Mokhun photo"
          width={450}
          src={heroImage}
        />
      </div>
    </div>
  </Container>
</section>
