---
import { Container, Separator, Title } from "@/ui/react";
import { getCollection } from "astro:content";
import i18next from "i18next";
import ProjectCard from "../widgets/project-card.astro";
import { cn } from "@/lib";

const allProjects = await getCollection("projects", ({ id }) => {
  return id.startsWith(i18next.language);
});

console.log(allProjects.length)
---

<section class="py-12 xs:py-16 md:py-20" id="projects">
  <Container>
    <Title className="mb-10 xs:mb-12">Projects</Title>
    <ul class="space-y-12 md:space-y-16">
      {
        allProjects.map((project, i) => (
          <>
            <ProjectCard {project} isEven={i % 2 != 0} />
            {i < allProjects.length - 1 && (
              <div
                class={cn("w-40 h-0.5 bg-primary", i % 2 != 0 && "lg:ml-auto")}
              />
            )}
          </>
        ))
      }
    </ul>
  </Container>
</section>
