---
import { cn } from "@/lib";
import { AnimateInView, AnimatedTitle, Container, Title } from "@/ui/react";
import { getCollection } from "astro:content";
import i18next from "i18next";
import ProjectCard from "../widgets/project-card.astro";

const allProjects = await getCollection("projects", ({ id }) => {
  return id.startsWith(i18next.language);
});
---

<section class="py-12 xs:py-16 md:py-20 overflow-x-hidden" id="projects">
  <Container>
    <AnimatedTitle client:visible className="mb-10 xs:mb-12"
      >Projects</AnimatedTitle
    >
    <div class="flex flex-col gap-12 md:gap-16">
      {
        allProjects.map((project, i) => (
          <AnimateInView
            client:visible
            config={{
              from: {
                opacity: 0,
                transform: "translateY(20px)",
              },
              to: {
                opacity: 1,
                transform: "translateY(0)",
              },
              config: {
                duration: 500,
              },
            }}
          >
            <ProjectCard {project} isEven={i % 2 != 0} />
            {i < allProjects.length - 1 && (
              <div
                class={cn(
                  "w-40 h-0.5 bg-primary mt-12 md:mt-16",
                  i % 2 != 0 && "lg:ml-auto"
                )}
              />
            )}
          </AnimateInView>
        ))
      }
    </div>
  </Container>
</section>
