---
import { Container, Title } from "@/ui/react";
---

<section class="py-12 xs:py-16 md:py-20" id="skills">
  <Container className="">
    <Title className="mb-8 xs:mb-10">Skills</Title>
  </Container>
</section>
