---
import {
  AboutTechnologies,
  Container,
  Title,
  buttonVariants,
} from "@/ui/react";
import { ArrowDown, FileSymlinkIcon } from "lucide-react";
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section
  class="relative py-16 md:py-20 bg-slate-100 dark:bg-background"
  id="technologies"
>
  <div class="wave">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="fill-background-secondary"></path>
    </svg>
  </div>
  <Container>
    <Title className="text-center">{t("technologies.title")}</Title>
    <div
      class="flex flex-col md:flex-row justify-between gap-6 md:gap-8 md:pt-4"
    >
      <div class="flex-[0_1_calc(50%-12px)] shrink-0 text-justify">
        <div class="md:text-lg">
          <p class="mb-4">
            <Trans i18nKey="technologies.description">
              I qualify myself as a <strong>React</strong> developer, that's why
              it is my main tool for building web applications. Mainly I use <strong
                >TypeScript</strong
              > when I can, but I'm also comfortable with <strong
                >JavaScript</strong
              >. <span class="hidden md:inline">
                For the full list of technologies I use, check out the <strong
                  >list to the right</strong
                > and hover over the icons to see technology name.
              </span>
            </Trans>
          </p>
          <a
            href="/resume.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="text-primary-hover font-medium flex items-center gap-1 hover:underline mb-2"
          >
            <ArrowDown className="animate-bounce md:w-8 md:h-8 shrink-0" />
            <span>{t("technologies.resume")}</span>
          </a>
          <a
            href="/resume.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class={buttonVariants({ className: "flex items-center gap-1" })}
          >
            <FileSymlinkIcon className="w-6 h-6 text-inherit" />
            <span>{t("seeResume")}</span>
          </a>
        </div>
      </div>
      <div class="flex-auto">
        <Title size="sm" tag="h3">{t("technologies.subtitle")}</Title>
        <AboutTechnologies client:visible />
      </div>
    </div>
  </Container>
</section>

<style>
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 50px;
  }

  @media (min-width: 768px) {
    .wave svg {
      height: 100px;
    }
  }
</style>
